-
	var menuItems = [
		{
			title:"",
			url: "tel:09912345687",
			ico: "assets/i/phone-ico.svg"
		},
		{
			title: "Оплата і доставка",
			url:"/"
		},
		{
			title: "Картриджі",
			url:"/"
		},
		{
			title: "Фільтри",
			url:"/"
		}
	];

	