-
	var menuItems = [
		{
			title: "Фільтри",
			url:"/"
		},
		{
			title: "Картриджі",
			url:"/"
		},
		{
			title: "Оплата і доставка",
			url:"/"
		},
		{
			title:"",
			url: "tel:0991234567",
			ico: "assets/i/phone-ico.png"
		}
	];

	