-
	var siteData = {
		name: "Ecosoft",
		keywords: 'ecosoft',
		title: "Ecosoft",
		description: "Ecosoft water",
		url: 'https://ecosoft.ua',
		meta: {
			facebook: '//fb.com/',
			instagram: '//fb.com/',
		},
		opengraph: {
			image: '/',
			title: 'Project social title',
			description: 'Project social description',
		}
	}

	var menuItems = [
		{
			title: 'Item 1',
			url: '#item1'
		},
		{
			title: 'Item 2',
			url: '#item2'
		},
		{
			title: 'Item 3',
			url: '#item3'
		},
	]