*
	box-sizing border-box
.section4
	position relative
	background url('i/rectangle4.png') 50% no-repeat
	background-size cover
	padding 100px 0

.container
	width 90%
	margin 0 auto
	
.technology
	width 100%
	display inline-block
	position relative
	
	&__title
		font-weight bold
		font-size 20px
		line-heoght 32px
		font-family 'Roboto', sans-serif
		margin 0 0 5px
			
	&__text 
		font-weight regular
		font-size 18px
		font-family 'Roboto', sans-serif
		margin 0 0 20px
		line-height 32px
		
	&__btn
		width 550px
		height 60px 
		background #00aeef
		color white	
		font-weight bold
		font-size 20px
		font-family 'Roboto', sans-serif
		padding 14px 35px 14px 70px
		border none
		letter-spacing 3px
		position relative
		

	&__filter
		width 50%
		float left
		padding 0 15px
		
	&__image
		width 350px
		display block
		margin auto
		
	&__ico 
		width 25px
		position absolute
		left 30px
		
			
		
		