-
	var block4_content = [
		{
			text:'На кришці картриджа встановлена дрібна сіточка. Вона затримує іржу, пісок та інші шкідливі частинки.'
		},
		{
			text:'Активоване вугілля захищає воду від хлору, хлороорганічних домішок та пестицидів. Покращує смак та запах води.'
		},
		{
			text:'Іоннообмінна смола видаляє токсичні метали: свинець, мідь та алюміній.'
		},
		{
			text:"Жорстка вода залишає накип на побутових приладах та розводи на посуді. Фільтр пом'якшує воду і Ваш посуд залишається чистим, а чайник служить довше."
		}
	];