@font-face
	font-family: 'Museo Sans';
	src: url('f/museosans-100.woff') format('woff'), url('f/museosans-100.ttf') format('truetype');
	font-weight: 100
	font-style: normal

@font-face
	font-family: 'Roboto'
	src: url('f/Roboto/Roboto-Regular.ttf') format('truetype')
	font-weight: 400
	font-style: normal

*
	box-sizing border-box

.container
	width 90%
	margin auto

.section
	position relative
	background url('i/rectangle4.png') 50% no-repeat
	background-size cover
	padding 100px 0

body
	font-family 'Roboto', sans-serif
	font-weight 100
	margin 0
	padding-top 130px

res1366 = "only screen and (max-width 1366px)"
res1024 = "screen and (max-width 1024px)"
res767 = "screen and (max-width: 767px)"

.container
	width 1280px
	margin 0 auto
	@media res1366
		&
			width 960px
	@media res1024
		&
			width 720px

	@media res767
		&
			width 100%

mixin clearfix()
	*zoom: 1
	&:before
	&:after
		content " "
		display table
	&:after
		clear both
.cf
	*zoom: 1
	&:before
	&:after
		content " "
		display table
	&:after
		clear both

.col-4
	width 25%
	float: left
