

@font-face
	font-family: 'Museo Sans';
	src: url('f/museosans-100.woff') format('woff'), url('f/museosans-100.ttf') format('truetype');
	font-weight: 100
	font-style: normal

body
	background white
	font-family 'Museo Sans'
	font-weight: 100

res1366 = "only screen and (max-width 1366px)"
res1024 = "screen and (max-width 1024px)"
res767 = "screen and (max-width: 767px)"

.container
	width 1280px
	margin 0 auto
	@media res1366
		&
			width 960px
	@media res1024
		&
			width 720px

	@media res767
		&
			width 100%

mixin clearfix()
	*zoom: 1
	&:before
	&:after
		content " "
		display table
	&:after
		clear both
.cf
	*zoom: 1
	&:before
	&:after
		content " "
		display table
	&:after
		clear both




.col-4
	width 25%
	float: left