@font-face
	font-family: 'Museo Sans';
	src: url('f/museosans-100.woff') format('woff'), url('f/museosans-100.ttf') format('truetype');
	font-weight: 100
	font-style: normal
	
@font-face
	font-family: 'Roboto'
	src: url('f/Roboto/Roboto-Regular.ttf') format('truetype')
	font-weight: 400 
	font-style: normal

* 
	box-sizing border-box

.container
	width 90%
	margin auto
	
.section
	position relative
	background url('i/rectangle4.png') 50% no-repeat
	background-size cover
	padding 100px 0
