.feature
	padding 0 15px
		
	&__ico
		width 50px
		height 50px 
		margin 0 auto 30px
		border 2px solid #00aeef
		border-radius 50%
		
	&__img 
		text-align center
		color #00aeef
		font-size 25px
		line-height 50px
		display block	
		font-family 'Roboto', sans-serif
	
	&__title 
		font-size 18px
		font-family 'Roboto', sans-serif
		font-weight bold
		text-align center
		line-height 32px
		margin 0
		
	&__text 
		font-size 18px
		font-family 'Roboto', sans-serif
		text-align center
		line-height 32px
		margin 0