extends layouts/main

append variables
	- title = 'Home'
	- footerMenu1 = [{url : "#", title: "Фільтр-глечик Ecosoft"}, {url : "#", title : "Фільтр-глечик Наша Вода"}, {url : "#", title : "Проточний фільтр"}, {url : "#", title : "Фільтр зворотнього осмосу"}]
	- footerMenu2 = [{url : "#", title: "Картриджі"}]
	- footerMenu4 = [{url : "#", title : "Доставка і оплата"}, {url : "#", title : ""}, {url : "#", title : ""}, {url : "#", title : "Замовити/запитати: +38 063 123 45 67"}]


block content
	
	+costs
	+dewberry
