include ../../node_modules/bemto.pug/bemto
include ../blocks/index
include ../globals/data

block variables
	- var title="Hello!"

doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/assets/vendor.css")
		link(rel="stylesheet" href="/assets/app.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
		block extracss
	body
		block main
		script(src="/assets/vendor.js")
		script(src="/assets/app.js")
