mixin header(siteName)
	+b.header
		+e('a').title(href="/") #{siteName}
		+e.nav
			//- +b(ul).menu
			//- 	mixin menu(item)
			//- 		for item in menuItems
			//- 			+e('li')
			//- 				+e('a')(href="/") =item
