include ../../globals/data.pug

mixin header
	+b.header
		+e('a').title(href="/")
			+e('img').logo(src='/assets/i/ecosoft.png')

		+e.nav
			+b('ul').menu
				each item in menuItems
					+e('li').item
						if item.ico
							+e('img')(src=item.ico).img
						else	
							+e('a')(href="/").link= item.title
