@import "../../mixins-styl/colors"

.table-cell
	display table-cell
	width 50%
	vertical-align bottom

*
	box-sizing border-box

.header
	width 100%
	position absolute
	height 100px
	display table
	table-layout fixed
	top 0

	&__title
		@extend .table-cell
		padding-left 44px


	&__logo
		width 175px

	&__nav
		@extend .table-cell

.menu
	margin 0
	list-style none
	padding 0

	&__img
		width 100%

	&__link
		color black
		text-decoration none
		font-family "Roboto", sans-serif
		font-weight bold
		font-size 18px

	&__item
		float right
		padding 20px 44px



		&:first-child
			width 40px
			height 40px
			border-radius 50%
			background light-blue
			padding 10px
			margin 10px 44px



