.section
	background #00aeef
	padding 100px 0

.container
	width 90%
	margin 0 auto
	
.benefits
	position relative
	
	&__title
		color white
		font-size 36px
		text-align center
		font-family 'Roboto', sans-serif
		line-height 48px
		margin 0 0 34px
		letter-spacing 2px
		
	&__text
		color white
		font-size 18px
		text-align center
		font-family 'Roboto', sans-serif
		line-height 32px
		margin 0 auto 58px
		max-width 750px
		letter-spacing 2px