mixin block6
	+b('section').section_6
		+b('div').container
			+b('div').benefits
				+e('p').title= "Вартість 1 літра очищенної води"
				+e('p').text= "Вираховуємо на основі вартості фільтра, строкуйого служби, частоти заміни та вартості картриджів, а також денної норми споживання води."
				+b('div').benefit__list
					+e('div').item__filter
						+e('img')(src= "assets/i/filter-small.png")
					+e('div').item__boutle__small
						+e('img')(src= "assets/i/boutle-small.png")
					+e('div').item__boutle__big
						+e('img')(src= "assets/i/boutle-big.png")
	
