-
	var features = [
		{
			sign: '!',
			title: 'Нагадуємо про заміну',
			text: 'Слідкуємо, щоб Ваша вода була чистою нескінченно довго, тому нагадуємо про заміну картриджів заздалегідь.'
		},
		{
			sign: 'L',
			title: 'Швидке очищення',
			text: 'Фільтр очищує 2л води за 4 хвилини та робить її безпечною та питною.'
		}, 
		{
			sign: '₴',
			title: 'Заощадимо Ваші гроші',
			text: 'Вартість води з фільтром складе 17 копійок за літр - дешевше за будь-яку воду в магазині чи з доставкою.'
		}
	]